@charset "utf-8";


/* CSS Document */




#contenedor {
	width:50%;
	margin:0 auto;
}

	
/*.flex-caption {
  width: 96%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.1);
  font-family: 'Rock Salt', cursive;
 
 
}

div{
	margin:0;
	padding:0;
	z-index:10}*/